<!DOCTYPE html>
{% load humanize %}
<html lang="en">
<!--{% load staticfiles %}-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Carrinho de compras - Walmart.com</title>

    <!-- WalMart WebStyle -->
    <link class="js-global-styles" rel="stylesheet" href="https://walmartlabs.github.io/web-style-guide/css/index.min.css">
    <link rel="stylesheet" href="https://walmartlabs.github.io/web-style-guide/static/gen/css/icons.data.svg.css" media="all">
    <script type="text/javascript" src="https://fonts.walmart.com/fqp0lia.js"></script>
    <style type="text/css">.tk-myriad-pro{font-family:"myriad-pro",sans-serif;}</style>
    <link rel="stylesheet" href="https://fonts.walmart.com/k/c/fqp0lia-l.css" media="all">
  	<link rel="stylesheet" href="https://static.wmobjects.com.br/checkout/styles/7919a255.cart.css" media="all">
  	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" media="all">
  	<link rel="stylesheet" href="https://walmartlabs.github.io/web-style-guide/css/index.min.css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    </head>
    <script type="text/javascript" >
      function UpdateQtd(i,v) {
        $.ajax({
           url: '{% url "update-carrinho" %}',
           data: {
              quantidade:v,
              produto_id:i
           },
           error: function() {
           },
           success: function(data) {
             $("#subtotal").html(data.subtotal)
             $("#desconto").html(data.desconto)
             $("#total").html(data.total)
             $("#totalitens").html(data.total_itens)
           },
           type: 'GET'
        });
			}
    </script>

  <body class="responsive">
    <div class="module fullwidth" style="background: #007dc6;">
        <a href="{% url "produtos" %}"><img src="{% static "images/walmart.png" %}" alt="" width="" height="55px"></a>
        <div class="arrange-fit header-meta-cell header-meta-cell-last">
              <div class="header-cart" style="margin-left: 1270px;margin-top: -52px;position:absolute;">
                <a href="{% url "carrinho" %}">
                    <i class="wmicon wmicon-cart" style="color:white;"></i>
                    <b class="js-header-cart-count header-cart-item-count">{% if carrinho.itemcarrinho_set.all == None %}0{% else %}{{ carrinho.itemcarrinho_set.all.count }}{% endif %}</b>
                    <span class="visuallyhidden">Itens no carrinho</span>
                </a>
              </div>
        </div>
    </div>
    <div class="container">
      <h2>Meu Carrinho ({{ carrinho.itemcarrinho_set.all.count }}{% if carrinho.itemcarrinho_set.all.count == 1 %} Item{% else %} Itens{% endif %})</h2>
	  <!--<section class="guide-example-group" id="">
		<div class="Grid guide-subhead guide-example-heading">
		  <div class="Grid-col u-size-1-4">item(s)</div>
		  <div class="Grid-col u-size-1-4">preço</div>
		  <div class="Grid-col u-size-1-4">quantidade</div>
		  <div class="Grid-col u-size-1-4">subtotal</div>
		</div>
		<div class="Grid guide-subhead">
      {% for car in carrinho.itemcarrinho_set.all %}
      <div class="Grid-col u-size-1-4">
        <a href=""><img class="product-image" src="{{ car.produto.foto.url }}" alt=""></a>
      </div>
		  <div class="Grid-col u-size-1-4">{{ car.produto.nome }}</div>
      <div class="Grid-col u-size-1-4">
        <a href="{% url "remover_do_carrinho" id=car.id %}">Remover</a>
        <input type="text" value="{{ car.quantidade }}" name="quantidade" id="quantidade" onchange="UpdateQtd({{ car.produto.id }},this.value)"></input>
      </div>
      <div class="Grid-col u-size-1-4">R$ {{ car.produto.preco|intcomma }}  </div>
      {% endfor %}
		  <div class="Grid-col u-size-1-4">subtotal</div>
		</div>-->


    <section class="guide-example-group" id="example-standard-buttons">
      <h3 class="guide-subhead guide-example-heading">
        <div class="Grid">
          <div class="Grid-col u-size-1-5"><span class="guide-subhead-reference">Item(s)</span></div>
          <div class="Grid-col u-size-1-5"><span class="guide-subhead-reference"></span></div>
          <div class="Grid-col u-size-1-5"><span class="guide-subhead-reference">Preco</span></div>
          <div class="Grid-col u-size-1-5"><span class="guide-subhead-reference">Quantidade</span></div>
          <div class="Grid-col u-size-1-5"><span class="guide-subhead-reference">Subtotal</span></div>
        </div>
      </h3>
      <div class="guide-example">
        <div class="guide-example-section guide-example-section-default">
          <div class="guide-example-markup module">
            <div class="Grid">
              {% for car in carrinho.itemcarrinho_set.all %}
              <div class="Grid-col u-size-1-5"><a href="">
                <img class="product-image" src="{{ car.produto.foto.url }}" alt=""></a>
              </div>
              <div class="Grid-col u-size-1-5">
                <span class="Price Price--flair u-textBlue xxs-margin-right">
                  {{ car.produto.nome }}
                </span>
              </div>
              <div class="Grid-col u-size-1-5">
                <p class="heading-d tile-heading" style="color: #5ea20d;font-size: 1em;">Por
                   R$ {{ car.produto.preco|intcomma }}
                </p>
              </div>
              <div class="Grid-col u-size-1-5">
                <input type="text" value="{{ car.quantidade }}" name="quantidade" id="quantidade" onchange="UpdateQtd({{ car.produto.id }},this.value)"></input>
                <a href="{% url "remover_do_carrinho" id=car.id %}"><p style="font-size: 10px;margin-right: .3em;color: #1a75ce;display: block;">Remover</p></a>
              </div>
              <div class="Grid-col u-size-1-5">
                R$ {{ car.subtotal }}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
  </div>
	<div class="Grid guide-example-heading">
			<div class="Grid-col u-size-1-6 u-offset-1-2"></div>
      <div class="Grid-col u-size-1-6 u-offset-1-2"></div>
			<div class="Grid-col u-size-1-6 u-offset-1-2">Subtotal(<span id="totalitens">{{ carrinho.itemcarrinho_set.all.count }}{% if carrinho.itemcarrinho_set.all.count == 1 %} Item{% else %} Itens{% endif %}</span>): R$<span id="subtotal">{{ carrinho.subtotal|intcomma }}</span></div>
      <div class="Grid-col u-size-1-6 u-offset-1-2">Desconto: R$<span id="desconto">{{ carrinho.desconto|intcomma }}</span></div>
      <div class="Grid-col u-size-1-6 u-offset-1-2">Valor total: R$<span id="total">{{ carrinho.total|intcomma }}</span></div>
		</div>
	  </section>
    </div>
    <div class="container" style="margin-top: 10px;padding-left: 60px;">
  		<div class="module">
            <button class="btn btn-secondary" type="button" onclick="window.location.href='{% url "produtos" %}'">Continuar Comprando</button>
            {% if user.is_authenticated %}
            <button class="btn btn-secondary u-offset-1-2" type="button" onclick="window.location.href='{% url "checkout" %}'">Finalizar compra</button>
            {% else %}
            <p>Voce nao esta Logado, para finalizar a compra faca login no /admin</p>
            {% endif %}
  		</div>
    </div>

  </body>
</html>
